<div class="fluid-row">
    <div class="small-12 columns collapsed">
        <div class="image-hero">
            <img src="assets/images/placeholder.png" alt=""/>
        </div>
    </div>
    <div class="small-12 columns">
        <h1>Marvelastic MCU Map</h1>
        <div class="small-4 columns left collapsed">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <a ui-sref="map" class="button primary">Click me to see the marvelous map!</a>
        </div>
    </div>
</div>